{% extends 'blog/base.html' %}

{% block content %}
<div class="content-section">
   <div class="media">
     <img class="rounded-circle account-img" src="{{user.profile.image.url}}"><!--it access the user profile picture-->
     <div class="media-body">
       <h2 class="account-heading">{{ user.username }}</h2>
       <p class="text-secondary">{{ user.email }}</p>
     </div>
   </div>
   <form method = "POST" enctype="multipart/form-data">
      {%csrf_token %}<!--it add CSRF token for protect our form against certain attacks-->
      <fieldset class = "form-group">
          <legend class = 'border-bottom mb-4'>Profile info</legend>
          {{ u_form }}<!--as_prender the form as paragraph tag-->
          {{ p_form }}
      </fieldset>
      <div class ="form-group">
          <button class = "btn btn-outline-info" type="submit">Update</button>

      </div>
  </form>
 </div>
{% endblock content %}