{% extends 'blog/base.html' %}

{% block content %}
    <div class = 'content-section'>
        <form method = "POST">
            {%csrf_token %}<!--it add CSRF token for protect our form against certain attacks-->
            <fieldset class = "form-group">
                <legend class = 'border-bottom mb-4'>Blog Post</legend>
                {{ form.as_p }}<!--as_prender the form as paragraph tag-->
            </fieldset>
            <div class ="form-group">
                <button class = "btn btn-outline-info" type="submit">Post</button>

            </div>
        </form>
        
        
    </div>
{% endblock content %}